////////////////////////////////////////////
// 		SETUP STUFF
////////////////////////////////////////////


////////////////////////////////////////////
// 		IMPORTS
////////////////////////////////////////////

@import 'grid';

////////////////////////////////////////////
// 		VARIABLES
////////////////////////////////////////////

$footerbasecolor:lightgrey;
$footerbaseback:black;

////////////////////////////////////////////
///// 		MIXINS
///////////////////////////////////////////////



////////////////////////////////////////////
// 		MAIN CODE
////////////////////////////////////////////

#copyright.container {
	clear:both;
	background: $footerbaseback;
	color: darken($footerbasecolor,50%);
	height: 10em;
	margin-bottom: 0;
	padding-top: 3%;
	& p {
		text-align: center;
		text-transform: uppercase;
		font-size: 0.8em;
	}
	& a {
		text-decoration: none;
		font-weight: bold;
		&:link {
			color: white;
		}
		&:hover {
			color:white;
		}
		&:visited {
			color:white;
		}
	}
}