////////////////////////////////////////////
// 		SETUP STUFF
////////////////////////////////////////////


////////////////////////////////////////////
// 		IMPORTS
////////////////////////////////////////////

@import 'grid';

////////////////////////////////////////////
// 		VARIABLES
////////////////////////////////////////////

$buttonbackcolor: #FF6600;
$iconColor: lightgrey;
$downloadIconBack: #CC6633;
$subNavMenuBackColor: darken(white,5%);
$subNavMenuFontColor: grey;

////////////////////////////////////////////
///// 		MIXINS
///////////////////////////////////////////////

@mixin transformTranslate($x,$y) {
	-webkit-transform: translate($x,$y);
	-moz-transform: translate($x,$y);
	-o-transform: translate($x,$y);
	-ms-transform: translate($x,$y);
}

@mixin transitionEffectAll ($time) {
	-webkit-transition: all $time;
	-moz-transition: all $time;
	-o-transition: all $time;
	-ms-transition: all $time;
}

@mixin transitionEffectSelected ($time) {
	-webkit-transition: color $time ease-in-out, border-color $time ease-in-out, background $time ease-in-out, opacity $time ease-in-out;
	-moz-transition: color $time ease-in-out, border-color $time ease-in-out, background $time ease-in-out, opacity $time ease-in-out;
	-o-transition: color $time ease-in-out, border-color $time ease-in-out, background $time ease-in-out, opacity $time ease-in-out;
	-ms-transition: color $time ease-in-out, border-color $time ease-in-out, background $time ease-in-out, opacity $time ease-in-out;
}

@mixin headerFixedIconButtons {
	// padding: 1.5em;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	padding-left: 1.3em;
	padding-right: 1em;
	border: 2px solid $iconColor;
	border-radius: 3px;
	color: grey;
	@include transitionEffectSelected(0.15s);
	@include desktopR {
		// padding: 1em;
		// display: none;
	}
	@include tabletR {
		display: none;
	}
	&:hover {
		color: $downloadIconBack;
		border: 2px solid $downloadIconBack;
	}
}

@mixin headerFixedArrowButtons {
	padding-right: 1.9em;
	// padding-left: 1.9em;
	padding-left: 1.7em;
	@include desktopR {
		// padding-right: 1.4em;
		// padding-left: 1.4em;
	}
}

// this is the sub nav menu styling and code
@mixin responsiveSubNavMenuV1 {
	& ul.responsiveNavList {
		position: absolute;
		// since you've set .responsiveNavList to display none in the main CSS code you must re-enable the display of it by using display: list-item...
		// this is the position to do it
		display: list-item;
		margin: 0;
		padding: 0;
		float: left;
		background: $subNavMenuBackColor;
		// left: 8%;
		// top: 101%;
		width: 177%;
		border-radius: 5px;

		&.flex-container {
			display: flex;
			// flex-flow: column;
			flex-flow: row wrap;
			justify-content: flex-end;
			@include phoneR {
				// flex-direction: column;
				justify-content:flex-start;
			}
		}

		@include tabletPortR {
			width: 39em;
			right: 0;
			top: 3.9em;
		}

		@include iphone6Plus736LandR {
			width: 39em;
			right: 0;
			top: 3.9em;
		}

		@include iphone6Plus667LandR {
			width: 39em;
			right: 0;
			top: 3.9em;
		}

		// @include phoneR {
		// 	// top: 101%;
		// 	// width: auto;
		// 	width: 454px;
		// 	// border: 1px solid grey;
		// 	// needed to use px to position it properly
		// 	// right:-415px;
		// 	// top:30px;
		// 	// float: right;
		// 	right:-313px;
		// 	top:30px;

		// 	// for the CSS nav menu toggle opening
		// 	// display: none;
		// }

		// @include iphone6Minus320R {
		// 	width: 21.5em;
		// 	left: -6.7em;
		// 	top: 4.7em;
		// }

		

		@include iphone6Minus568LandR {
			width: 39.0625em;
			right: 0;
			top: 54px;

			width: 14.9em;
			right: 0;
			top: 54px;
		}

		// @include phoneR {
		// 	width: 12.5em;
		// 	// top: 40px;
		// 	left: 0.5em;
		// 	top: 3.9375px;
		// 	// left: -86px;
			
		// 	width: 21.5em;
		// 	left: -6.7em;
		// 	top: 4.5em;
		// }

		// @include phonePortR {
		// 	width: 12.5em;
		// 	// top: 40px;
		// 	left: 0.5em;
		// 	top: 3.9375px;
		// 	// left: -86px;
			
		// 	width: 21.5em;
		// 	left: -6.7em;
		// 	top: 4.5em;
		// }
		
		@include phoneLandR {
			// top: 101%;
			// width: auto;
			width: 28.375em;
			// border: 1px solid grey;
			// needed to use px to position it properly
			// right:-415px;
			// top:30px;
			// float: right;
			// right:-19.75em;
			// top:1.875em;

			// for the CSS nav menu toggle opening
			// display: none;
			
			// width: 400px;
			// top: 45px;
			// left: -86px;
			// top: 59px;
			// left: -43px;
			
			right: -15.2em;
			top: 4.25em;

		}

		// @include iphone6Plus375R {
		// 	width: 24em;
		// 	left: -6.7em;
		// 	top: 4.8em;
		// }

		@include iphone6Plus414PortR {
			width: 26em;
			// top: 45px;
			// left: -86px;
			top: 4.85em;	
			left: -13.1em;
		}

		@include iphone6Plus375PortR {
			width: 24em;
			left: -12.4em;
			top: 4.8em;
		}

		@include iphone6Minus320PortR {
			width: 21.5em;
			left: -11.7em;
			top: 4.5em;
		}

		& li {
			display: list-item;
			float: none;
			list-style: none;
			margin: 0;
			padding: 0;
		}
		& a {
			display: block;
			text-decoration: none;
			// border: 2px solid $iconColor;
			border-radius: 3px;
			color: $subNavMenuFontColor;
			// padding: 1em 1.6em 1em 1.6em;
			padding: 1em 0.9em 1em 0.9em;
			text-transform: uppercase;
			// width: auto;
			@include transitionEffectSelected(0.15s);
			&:hover {
				color: $downloadIconBack;
				// border: 2px solid $downloadIconBack;
			}
		}
	}
}

// this is the responsive menu parent not the sub menu
@mixin responsiveNavMenu {
	& .mainNavBar {
		position: relative;
		z-index: 800;
		margin: 0;
		padding: 0;

		&.flex-container {
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-end;
		}

		// this is the menu icon that people see
		& .specialNavMenu {
			// enable relative positioning to set z-index
			// position: relative;
			// z-index: 500;
			display: inline-block;
			color: darken($iconColor,30%);
			border: 2px solid $iconColor;
			padding: 1em 1.2em 1em 1.2em;
			border-radius: 5px;
			@include transitionEffectSelected(0.15s);
			// text-shadow: 0 0 1px #203A8B;
			cursor:pointer;
			@include phoneR {
				padding: 1em 0.5em 1em 0.5em;
				// move the menu icon to the right so that it isn't cluttered left
				position: fixed;
				top: 2%;
				right: 3%;
			}
			// @include phoneLandR {
			// 	padding: 1em 0.5em 1em 0.5em;
			// 	// move the menu icon to the right so that it isn't cluttered left
			// 	position: fixed;
			// 	top: 2%;
			// 	right: 3%;
			// }
			&:hover {
				color: $downloadIconBack;
				border: 2px solid $downloadIconBack;
			}

		}

		& li {
			list-style-type: none;
			position: relative;

			&.flex-container {
				display: flex;
				flex-flow: row nowrap;
				justify-content: flex-end;
			}

			@include phoneR {
				// top: 101%;
				width: auto;
				// border: 1px solid grey;
			}
			&:hover {
				display: block;
				float: none;
				// to edit the ul.responsiveNavList sub menu simply cut and paste it out of the &:hover into a position within & li
				@include responsiveSubNavMenuV1;
			}

			// for testing purposes uncomment this one and comment out the one under hover
			// @include responsiveSubNavMenuV1;
		
		}	
	}
}

@mixin toggleMenuControlV1 {
	input#toggle {
		display: none;
		&:checked ~ .responsiveNavList {
			// unlike other cases the default value is display: list-item for .responsiveNavList so you have to use display none not something else to make it disappear
			// make sure that input#toggle is set to being initially checked (checked='checked')
			display: none;
			
			@include phoneR {
				// the other way is to set .responsiveNavList to a default of display none and apply display list-item here
				// the only problem is that you can't use :hover on the parent li element 
				// display: list-item;
			}
		}
	}
}

////////////////////////////////////////////
// 		MAIN CODE
////////////////////////////////////////////

header#demo-header {
	position: fixed;
	height:6.8125em;
	// height: 6.8125em;
	background: white;
	display: block;
	// we use the value of 13 to get the navbar all across the page
	// looks like 12.5 was better... 13 was too long which caused the icon nav buttons to skirt perilously close to the right edge
	@include column(12.5);
	margin: 0;
	// we set the z-index as high as it goes to be rid of the effect where the navbar appears above the fixed header
	z-index: 10000;
	border-bottom: 1px solid lightgrey;
	// the padding top is necessary to push the elements down, position them and manually centre them
	// you could also manually push each of the subcontainers below down giving you more leeway to position them -- comment out this padding top then
	// padding-top:3%;
	vertical-align: baseline;

	////////////////////////////////////////////
	///// 		FLEX BOX
	////////////////////////////////////////////
	
	&.flex-container {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: baseline;
		align-content: center;
	}

	////////////////////////////////////////////

	@include desktopRHD {
		// height: 12.8125em;
		padding-bottom: 7.5%;
	}

	@include desktopR {
		padding-bottom: 11%;
	}

	@include iphone6Plus736LandR {
		height: 6.8125em;
	}

	@include iphone6Minus568LandR {
		height: 6.8125em;
	}

	@include phoneR {
		background: transparent;
		border: 0;
		display: none;
		height:10%;
	}

	////////////////////////////////////////////
	///// 		LEFT SIDE BUTTONS
	///////////////////////////////////////////////
	
	// these are the left hand side buttons
	
	& .buttonContainer {
		position: relative;
		// width: 100%;
		height:100%;
		// width: 75%;
		@include column(8);
		// padding: 0;
		// padding-top: 0.5%;
		// padding-top: 3.4%;
		padding-right: 0;
		margin: 0;
		vertical-align: baseline;
		&.flex-container {
			flex-flow: row wrap;
			justify-content: flex-start;
			align-items: center;
			align-content: flex-start;
		}

		@include ipadAir1024LandR {
			// padding-top: 3%;
		}

		@include desktopRHD {
			padding-top: 3%;
		}
		@include desktopR {
			// @include column(6);
			padding-top: 4.6%;
		}
		@include tabletR {
			padding-top: 5.5%;
		}

		@include iphone6Plus736LandR {

		}

		@include phabletR {
			padding-top: 6%;
		}
		@include iphone6Plus667LandR {
			@include column(8);
		}

		@include samsungGalaxyTab600PortR {

		}

		@include iphone6Minus568R {
			@include column(9);
		}
		@include phoneR {
			display: none;
		}
		& a {
			background: $buttonbackcolor;
			padding: 3% 3% 3% 3%;
			margin: 2px;
			border-radius: 5px;
			text-decoration: none;
			text-transform: uppercase;
			color: white;
			font-size: 1.25em;

			@include iphone6Plus736LandR {
				font-size: $basefontsize*0.875;
			}

			@include phabletR {
				padding: 3% 2% 3% 2%;
			}
			@include iphone6Plus667LandR {
				font-size: $basefontsize*0.875;
			}
			@include samsungGalaxyTab600PortR {
				font-size: $basefontsize*0.875;
			}
			@include iphone6Minus568LandR {
				font-size: $basefontsize*0.875;
			}
			&:first-child {
				margin-left: 13px;
			}
			&:nth-child(2) {
				background: grey;
			}
		}
	}

	///////////////////////////////////////////////


	////////////////////////////////////////////
	///// 		RIGHT SIDE ICON NAV BUTTONS
	///////////////////////////////////////////////
	
	& .iconContainer {
		// position: relative;
		@include column(4);
		margin: 0;
		padding: 0;
		// padding-top: 4.3%;
		margin-bottom: 3%;
		vertical-align: baseline;

		&.flex-container {
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-end;
			align-items: flex-start;
			@include desktopRHD {
				align-items: center;
			}
			@include desktopR {
				justify-content: space-between;
			}
			@include tabletR {
				justify-content: center;
			}
		}

		& .specialNavMenu {
			display: none;
		}
		& .responsiveNavList {
			display: none;
		}

		@include ipadAir1024LandR {
			padding-top: 1.5%;
		}

		@include desktopRHD {
			// padding-top: 2.3%;
			// padding-bottom: 1.5%;
		}
		@include desktopR {
			// @include column(6);
			// display: static;
			padding-left: 0;
			padding-right: 0;
			margin-bottom: 0;
			// padding-top: 3.2%;
			padding-top: 0.5%;
			// padding-top: 1.2%;
			// @include responsiveNavMenu;
		}
		@include tabletR {
			// padding-top: 3.5%;
			padding-top: 0.5%;
			@include responsiveNavMenu;
		}

		@include iphone6Plus736LandR {
			// padding-top: 0.5%;
		}

		@include phabletR {
			// padding-top: 4%;
			padding-top: 0.5%;
		}
		@include iphone6Plus667LandR {
			@include column(4);
			padding-right: 2%;
		}
		@include iphone6Minus568LandR {
			padding-right: 2%;
			@include column(3);
		}
		@include phoneR {
			padding-top: 0.5%;
			padding-left: 5%;
		}

		& a {
			display: inline;
			// ironically I commented out these same lines which screwed up the navbar on desktop size
			// I required this because at this size the icon nav buttons were bumping into each other and required margins.  I suppose I could have eliminated the lines however that would have meant adjusting several other sections so I didn't both and simply wrote a media query for this condition.
			@include desktopRHD {
				height: 4em;
				width: 4em;
				line-height: 3.75em;
				margin: 5px;
			}
			padding: 0;
		}
		& a.back {
			@include headerFixedIconButtons;
			padding-right: 1.2em;
		}
		& a.download {
			@include headerFixedIconButtons;
			background:$downloadIconBack;
			color: white;
			&:hover {
				background: darken($downloadIconBack,10%);
			}
		}
		& a.left {
			@include headerFixedIconButtons;
			@include headerFixedArrowButtons;
		}
		& a.right {
			@include headerFixedIconButtons;
			@include headerFixedArrowButtons;
		}
	}
	
	///////////////////////////////////////////////
	
	////////////////////////////////////////////
	///// 		TOGGLE RESPONSIVE NAV CONTROL
	///////////////////////////////////////////////
	/// Enable the CSS on/off switch for the responsive nav as a back up for mobile devices where hover states don't work well
	
	@include toggleMenuControlV1;

	////////////////////////////////////////////

	
	
}