////////////////////////////////////////////
// 		SETUP STUFF
////////////////////////////////////////////


////////////////////////////////////////////
// 		IMPORTS
////////////////////////////////////////////

@import 'grid';

////////////////////////////////////////////
// 		VARIABLES
////////////////////////////////////////////

$navbarfontcolor: white;
$navbarbackcolor: #333333;
$buttonbackcolor: orange;
$buttonspacepadding: 10px 20px 10px 20px;
$iconColor:orange;

////////////////////////////////////////////
///// 		MIXINS
///////////////////////////////////////////////


////////////////////////////////////////////
// 		MAIN CODE
////////////////////////////////////////////

#header.container {
	position: relative;
	// we specifically set the fixed header to a height of ___ so we need to adjust the navbar... by adding position relative and then pushing it down from the top by ____
	// also adding this had the unintentional side effect of fixing the ugly white bar across the screen that I couldn't get rid of
	top: 109px;
	background: $navbarbackcolor;
	margin-bottom: 0;
	padding-top: 2.5%;
	& .themeTitleBox {
		@include column(3);
		@include tabletR {
			display: block;
			@include column(12);
		}
		& a.themeName {
			position: relative;
			color:$navbarfontcolor;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 2em;
			// padding-left: 1.7em;
			font-weight: bold;
			&:visited {
				color: $navbarfontcolor;
			}
			&:hover {
				color: $navbarfontcolor;
			}
			&:link {
				color: $navbarfontcolor;
			}
		}
		& i.fa {
			color: $buttonbackcolor;
			margin-right: 1em;
			@include tabletR {
				margin-right: 0.5em;
			}
		}
	}
	
	& .navbarBox {
		@include column(9);
		@include tabletR {
			display: inline-block;
			@include column(12);
			float: left;
			padding-top: 2%;
			padding-bottom: 2%;
		}
		& ul {
			float: right;
			@include tabletR {
				// float: left;
				// text-align: center;
				// display: inline-block;
				// margin: 0 auto;
				float: none;
				padding-left: 11%;
			}
			& li {
				list-style-type: none;
				float: left;
				@include tabletR {
					// display: inline-block;
					// text-align: center;
					display: inline-block;
					text-align: center;
				}
				& a {
					color: $navbarfontcolor;
					// padding: 2% 5% 2% 5%;
					padding: $buttonspacepadding;
					text-transform: uppercase;
					text-decoration: none;
				}
			}
		}
		.homePage {
			background: $buttonbackcolor;
			border-radius: 50px;
			padding: $buttonspacepadding;
			text-transform: uppercase;
			text-decoration: none;
			@include transitionEffectAll(0.5s);
			&:hover {
				background: darken($buttonbackcolor,10%);
			}
		}
	}
}

