////////////////////////////////////////////
// 		SETUP STUFF
////////////////////////////////////////////

////////////////////////////////////////////
// 		IMPORTS
////////////////////////////////////////////

@import 'normalize';
@import 'responsive';
@import 'headerfixed';
@import 'navbar';
@import 'headerfeatured';
@import 'page';
@import 'featuredwrapper';
@import 'copyrightfooter';
@import 'grid';

////////////////////////////////////////////
// 		VARIABLES
////////////////////////////////////////////

$basefontfamily:'Lato', sans-serif;
$basefontsize:14px;

////////////////////////////////////////////
///// 		MIXINS
///////////////////////////////////////////////


////////////////////////////////////////////
// 		MAIN CODE
////////////////////////////////////////////

body {
	font-family: $basefontfamily;
	font-size: $basefontsize;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

// for some mysterious reason a dot kept appearing in the header fixed nav menu so I decided to set that global li's would be default list-style-type: none unless specified otherwise.
li {
	list-style-type: none;
}